* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

h1 {
  margin: 0;
  padding: 0.5vmin;
  font-size: 140%;
}

body {
  height: 80vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  height: 70vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 70vmin;
  width: 70vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.5vmin;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 0.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8vmin;
  color: #000000;
  border-radius: 1vmin;
}

.box:hover {
  background-color: #e0e0e0;
  opacity: 0.8;
}

#reset-btn {
  padding: 1.5vmin;
  margin: 2vmin;
  font-size: 2vmin;
  background-color: #191913;
  color: #fff;
  border-radius: 1vmin;
  border: none;
}
