body {
  color: rgb(230, 227, 227);
  background-color: rgb(43, 43, 183);
  /* text-align: center; */
  padding: 0px 10px;
  margin: 0px 10px;
}

h1 {
  font-family: Arial, sans-serif;
  text-align: center;
  color: green;
  padding: 0px 0px;
  margin: 10px 0px;
  background-color: rgba(211, 211, 211, 0.882);
  border-radius: 5px;
  /* display: inline-block; */
  
}

button {
  background-color: rgb(235, 229, 229);
  border: none;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  color: black;
  font-weight: bold;
  border: 1px solid black;
}

div {
  margin: 0px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightblue;
  align-self: center;
  text-align: center;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  color: black;
  /* background-color: lightyellow; */
  padding: 50px;
  margin-top: 5px;
}

.content {
  background-color: lightgray;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

#new-container {
  /* border: 3px dashed red; */
  padding: 15px;
  margin-top: 15px;
  background-color: lightgray;
}

#new-container-span {
  font-weight: bold;
  color: darkblue;
}