body {
  color: rgb(230, 227, 227);
  background-color: rgb(43, 43, 183);
  /* text-align: center; */
  padding: 0px 10px;
  margin: 0px 10px;
}

h1 {
  font-family: Arial, sans-serif;
  text-align: center;
  color: green;
  padding: 0px 0px;
  margin: 10px 0px;
}

button {
  background-color: rgb(235, 229, 229);
  border: none;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  color: black;
  font-weight: bold;
  border: 1px solid black;
}

div {
  margin: 0px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightblue;
  align-self: center;
  text-align: center;
}
